<%- include('partials/header', { css, title }) %>

    <div class="container">
        <a class="f20" href="/<%= color %>/20"><span>
                <%= colorName %> 20px
            </span></a>
        <a class="f30" href="/<%= color %>/30"><span>
                <%= colorName %> 30px
            </span></a>
        <a class="f40" href="/<%= color %>/40"><span>
                <%= colorName %> 40px
            </span></a>
    </div>

    <%- include('partials/footer', { js }) %>