<%- include('partials/header', { css, title }) %>

    <div class="container">
        <h1>
            <%= colorName %> Pages
        </h1>
        <p>Font <%= size %> px</p>
        <button id="myButton">Click to make me <%= colorName %>!</button>
    </div>

    <%- include('partials/footer', { js }) %>